.Navbar{
    /* background-color: white; */
    display: flex;
    justify-content: space-between;
    
    

    
}
.title{
    position: relative;
    right: 300px;
    font: Blippo, fantasy
}
.Navbaritems{
    display: inline-block;
}
.login{
    position: relative;
    top: 31px;
    left: 300px;
    margin-right: 5px;
}
#loginLink{
    position: relative;
    font-size: 15px;
}
#signupTitle{
    position: relative;
    font-size: 15px;
}
#loginStatus{
    position: relative;
    top: -20px;
    font-size: 15px;
}
#yourLoggedIn{
    position: relative;
    top: 0px;
    font-size: 30px;
}

.flagItems{
    display: inline-block;
    margin-right: 10px;

}
.flag{
    width: 50px;
    height: auto;
}
/* .language{
    font-size:10px;
} */