.scoreContainer {
    /* background-color: white; */
    position: relative;
    top: 20px;
    height: 200px;
    width: 300px;
    border: 2px solid black;
}
.scoreButton {
    position:relative;
    top: 160px;
    left: 130px;
}